<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AGauge_V2" version="2.0.2" targetFramework="net472" />
  <package id="CSCore" version="1.2.1.2" targetFramework="net45" />
  <package id="CSCore.Ffmpeg" version="1.2.0-beta1" targetFramework="net472" />
  <package id="FftSharp" version="1.1.4" targetFramework="net472" />
  <package id="MediaInfo.Native" version="21.9.1" targetFramework="net45" />
  <package id="MediaInfo.Wrapper" version="21.9.2" targetFramework="net45" />
  <package id="Microsoft.Win32.Registry" version="4.7.0" targetFramework="net472" />
  <package id="NAudio" version="2.0.1" targetFramework="net472" />
  <package id="NAudio.Asio" version="2.0.0" targetFramework="net472" />
  <package id="NAudio.Core" version="2.0.0" targetFramework="net472" />
  <package id="NAudio.Midi" version="2.0.1" targetFramework="net472" />
  <package id="NAudio.Wasapi" version="2.0.0" targetFramework="net472" />
  <package id="NAudio.WinForms" version="2.0.1" targetFramework="net472" />
  <package id="NAudio.WinMM" version="2.0.1" targetFramework="net472" />
  <package id="Newtonsoft.Json" version="13.0.3" targetFramework="net472" />
  <package id="ScottPlot" version="4.1.31" targetFramework="net472" />
  <package id="ScottPlot.WinForms" version="4.1.31" targetFramework="net472" />
  <package id="Spectrogram" version="1.4.4" targetFramework="net472" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net472" />
  <package id="System.Drawing.Common" version="4.6.1" targetFramework="net472" />
  <package id="System.Memory" version="4.5.4" targetFramework="net472" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net472" />
  <package id="System.Resources.Extensions" version="6.0.0" targetFramework="net472" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="6.0.0" targetFramework="net472" />
  <package id="System.Runtime.InteropServices.RuntimeInformation" version="4.3.0" targetFramework="net472" />
  <package id="System.Security.AccessControl" version="4.7.0" targetFramework="net472" />
  <package id="System.Security.Principal.Windows" version="4.7.0" targetFramework="net472" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net472" />
</packages>